/* src/components/ui/Input.module.css */

.input {
  width: 100%;
  padding: 0.5rem 1rem; /* 8px 16px */
  border: 1px solid #d1d5db; /* رمادي */
  border-radius: 0.5rem; /* 8px */
}

.input:focus {
  outline: none;
  border-color: #2563eb; /* أزرق */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.4);
}